body {
  background: rgb(41, 2, 37);
  color: rgb(17, 241, 32);
  font-family: monospace;
  padding: 15px;
}

button {
  padding: 10px;
  margin: 20px;
  cursor: pointer;
}

.button-table,
.button-table div {
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}

span {
  color: rgb(211, 210, 210);
  font-size: larger;
}
